<%= form_with model: artwork do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% artwork.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
    <% artwork.errors.full_messages_for(:author).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :typeof %><br>
    <%= form.text_field :typeof %>
    <% artwork.errors.full_messages_for(:typeof).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :date %><br>
    <%= form.text_field :date %>
    <% artwork.errors.full_messages_for(:date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
